p,
h1,
h2,
h3,
h4,
h5,
span,
div {
    margin: 0;
    padding: 0;
}

.category {
    margin-top: 3vh;
}

.category hr {
    border: none;
    border-left: 3px solid white;
    border-radius: 1px;
    height: 32px;
    position: relative;
    top:13px;
    margin-right: 20px;
    width: 1px;
    display: inline-block;

}

.category span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
    margin-right: 15px;
    padding-right: 15px;
}

h1 {
    font-family: 'Inter';
    margin-top: 2vh;
    font-weight: 800;
    font-size: 60px;
    letter-spacing: 0.055em;
}
.specification hr{
    border: none;
    border-left: 3px solid white;
    border-radius: 1px;
    height: 20px;
    position: relative;
    top:8px;
    margin-right: 20px;
    width: 1px;
    display: inline-block;
}
.specification span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    margin-right: 15px;
    padding-right: 15px
}

.specification {
    margin-top: 15px;
}

.specification span mark {
    color: #A7A6A6;
    background: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}



.MovieDescription p {
    margin: 15px 0px 8px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    max-width: 860px;
    color: #A7A6A6;

}

.buttonsConatiner {
    display: flex;
    gap: 50px;
}


.buttonsConatiner button {
    border-radius: 10px;
    height: 64px;
    width: 272px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    margin-bottom: 4vh;
}

.buttonsConatiner button:nth-child(1) {
    border: none;
    background: #D50D1F;
}

.buttonsConatiner button:nth-child(2) {
    background: none;
    border: 3px solid white;
}

.ageLimit {
    position: absolute;
    color: white;
    bottom: 8vh;
    background: rgba(255, 255, 255, 0.49);
    border-left: 33px solid #D50D1F;
    width: 174px;
    height: 66px;
    display: flex;
    align-items: center;
    right: -5.5%;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;}

.ageLimit span {
    margin-left: 25px;
}
