div {
    color: white;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 150px;
}

.site-header a {
    color: white;
}

.brand span {
    border-left: 2px solid white;
    padding-left: 15px;
    margin-left: 5px;
    position: relative;
    bottom: 16px;
    font-family: 'KyivTypeTitling';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #C8C8C8;
}
.nav{
    position: relative;
    bottom: 10px;
}
.nav img{
    width: 65px;
    position: relative;
    top: 10px;
    left: 40px;
    cursor: pointer;
}
.nav svg{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
@font-face { font-family: "KyivTypeTitling"; src: url("../../../public/fonts/KyivTypeTitling.ttf") format("truetype"); font-style: normal; font-weight: normal; }