.carousel {
    width: 65%;
}

.carouselContainer {
    transform: translateX(-8.3%);
}

.carousel div {
    display: flex;
    gap: 40px;
}

.carousel div img {
    border: 1px solid white;
    width: 151px;
    height: 200px;
}

.carouselControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}

.carouselControls div {
    display: flex;
    gap: 20px;
}

.carouselControls button {
    display: flex;
    background: none;
    border-radius: 100px;
    cursor: pointer;
}

.carouselControls button:nth-child(1) {
    border: 1.5px solid #A7A6A6;
    padding: 8px 13px 8px 13px;
}

.carouselControls button:nth-child(2) {
    padding: 9px 14px 9px 14px;
    border: 1.5px solid white;
}

h3 {
    font-family: 'Inter';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 144.52%;
    letter-spacing: 0.135em;
    color: #FFFFFF;
}